@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 12px;
}
.slick-list {
  margin: 0 -10px;
}

.slick-dots li button::before {
  color: #252525 !important;
  font-size: 10px !important;
  margin-top: 10px !important;
}

.banner {
  background-image: url("https://res.cloudinary.com/df82hir2r/image/upload/v1681029819/xdradio/Banner_v2_wvjndp.png");
  background-size: cover;
  background-repeat: no-repeat;
}
